body { background-color: #393939; }
#tip { background-color: #4d5053; color: #C7C7C7; padding: 15px; margin: 10% 20% 10% 20%;
    -moz-box-shadow:2px 2px 10px 0px #181818;
    -webkit-box-shadow:2px 2px 10px 0px #181818;
    box-shadow:2px 2px 10px 0px #181818;
}
#tip header { background: url("../img/question.png") no-repeat; font-size: 1.1em; padding: 7px 0 8px 37px; }
#tip section {  background-color: #585B5C; color: #C3C8C8; border: 1px solid #353638; padding: 10px; min-height: 200px; overflow: scroll;}
#tip footer { margin:5px 0 0 0; font-size: 0.8em; }
#tip footer a {
    color: #339;
    text-decoration: none;
}
#tip footer .button {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 5px 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#tip footer .gray {
    color: #c7c7c7;
    border: solid 1px #6f7070;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#656a6c), to(#565b5d));
    background: -moz-linear-gradient(top, #888, #575757);
}
#tip footer .medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
#tip footer nav {
    text-align: right;
}